@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    min-height: 100vh;
    background: url('images/space-bg5.jpg') no-repeat;
    background-size: cover;
    background-position: center; 
}

.header {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    padding: 20px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin-top: 40px;
    background-color:rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 45px;
    backdrop-filter: blur(10px);
}


.navbar a {
    position: relative;
    font-size: 18px; 
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px; 
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s; 
}

.navbar a:hover::before {
    width: 100%;
}

.logo {
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    color: #fff; 
}

.main-text{
    max-width: 450px;
    margin-left: 170px;
    text-align: center;
    padding: 32px;
    margin-top: 400px;

}

.main-text h1{
    font-family: sans-serif;
    font-size: 24px;
    letter-spacing: 3px;
    color: #D0D6F9;
    text-transform: uppercase;
    margin-bottom: 16px; 
}

.main-text h2{
    font-family: serif;
    font-size: 128px;
    color: white;
    margin: 16px 0; 
    line-height: 1;
}

.main-text p{
    font-family: sans-serif;
    font-size: 17px;
    line-height: 1.6;       
    color: #D0D6F9;
}

.btn{
    position: relative;
    margin-left: 1300px;
    top: -390px;
    font-family: garamond;
    font-size: 40px;
    padding: 140px 80px;
    background-color: #D6E3F8;
    border: 2px solid white;
    color: rgb(11, 13, 23);
    border-radius: 50%;
    box-shadow: 0 0 40px white;
    font-weight: 500;
    transition: 0.5s;
    text-decoration: none;
}

.btn a{
    text-decoration: none;
}

.btn:hover{
    background:transparent;
    box-shadow:none;
}

.btn:hover a{
    color: white;
}

#bodyfile2{
    background: url('images/space-bg7.jpg') no-repeat;
    max-height: 100vh;
    background-size: cover; 
    background-position: center;
}

.destination{
    display: flex;
    align-items: center;
    padding: 50px;
    height: 100vh;
    scroll-snap-align: start;
}

.dest-img{
    /* width: 5px;
    height:5px;  */
    margin-right: 20px;
    size:0cm;
}
.dest-main{
    text-align:left;
    margin-top: 300px;
    margin-left:350px
}

.dest-info h2 {
    margin: 0;
    font-size: 2em;
}

.dest-info p {
    font-size: 1.1em;
    line-height: 1.5;
}
.booking-container {
      background-color:rgba(255, 255, 255, 0.1);
      border: 2px solid rgba(255, 255, 255, 0.2);
      color: #F7FFF7;
      backdrop-filter: blur(10px);
      margin: 10% auto 0;
      padding: 30px;
      border-radius: 12px;
      max-width: 600px;
      width: 100%;
      font-size: 30px;
      margin-top: 300px;
      margin-left: 650px;
    }
    .formbtn{
        background-color: #D6E3F8;
        border: 2px solid white;
        color: rgb(11, 13, 23);
        box-shadow: 0 0 10px white;
        transition: 0.5s;
    }
    .formbtn:hover{
        background:transparent;
        color:white;
        box-shadow:none;
    }
   
